<div layout="column" layout-align="center center">
    <div>
        <div layout="row" layout-align="center center">
            <md-button class="md-primary md-raised" ng-click="uploadImageDialog($event)">
                Prompt Dialog
            </md-button>
            <md-button ng-click="refreshImages()">
                <md-icon md-svg-icon="app/img/icons/ic_refresh_black_24px.svg" aria-label="Refresh"></md-icon>
            </md-button>
        </div>

        <md-content class="md-padding" layout-xs="column" layout="column" layout-align="center center">
            <div>
                <md-card ng-repeat="image in images">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{image.name}}</span>
                            <span class="md-headline">{{image.faceDetected}}</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content layout="row" layout-align="space-between">
                    </md-card-content>
                    <md-card-content layout="row" layout-align="space-between">
                        <img ng-src="data:image/{{image.extension}};base64,{{image.image}}"
                             style="max-width: 400px; max-height: 400px"
                             aria-label="{{image.name}}"/>
                        <md-card-actions layout="column">
                            <md-button ng-show="!image.faceDetected" ng-click="detectFaces(image.id, $index)" aria-label="Face recognition">
                                <md-icon md-svg-icon="app/img/icons/ic_tag_faces_black_24px.svg"></md-icon>
                            </md-button>
                            <md-button ng-show="image.faceDetected" ng-click="refreshImage(image.id, $index)" aria-label="Face recognition">
                                <md-icon md-svg-icon="app/img/icons/ic_refresh_black_24px.svg"></md-icon>
                            </md-button>
                        </md-card-actions>
                    </md-card-content>
                </md-card>
            </div>
        </md-content>
    </div>
</div>