<div layout="column">
    <h1>{{status}}</h1>
    <md-button class="md-primary md-raised" ng-click="uploadImageDialog($event)"  >
        Prompt Dialog
    </md-button>

    <md-button ng-click="refreshImages()">
        <md-icon md-svg-icon="app/img/icons/ic_refresh_black_24px.svg" aria-label="Refresh"></md-icon>
    </md-button>
    <md-content class="md-padding" layout-xs="column" layout="row">
        <md-card ng-repeat="image in images">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{image.name}}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content layout="row" layout-align="space-between">
                <div class="md-media-xl card-media"></div>
                <img ng-src="data:image/{{image.extension}};base64,{{image.image}}" aria-label="{{image.name}}"/>
                <md-card-actions layout="column">
                    <md-button aria-label="Face recognition">
                        <md-icon md-svg-icon="app/img/icons/ic_tag_faces_black_24px.svg"></md-icon>
                    </md-button>
                </md-card-actions>
            </md-card-content>
        </md-card>
    </md-content>
</div>